*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color:#141414;
}

:root {
  -color--primary:#141414;
}

.mySwiper {
  overflow: visible !important; 
}
